body {
	font-family: 'Merriweather', serif;
  background: #3b7175; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #13114b , #3b7175); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #13114b , #3b7175); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}